{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">

    <h4>Add New</h4>
    <hr>
    <form action="" method="post">

        {% csrf_token %}
        
        <div class="form-group">
            <label for="">ID:</label>
            <input type="text" name="inputId" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <label for="">Name:</label>
            <input type="text" name="inputName" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <label for="">Employment Status:</label>
            <select name="inputEmploymentStatus" class="form-control">
                <option selected disabled="true">-----Select Employment Status-----</option>
                <option>Part-time</option>
                <option>Full-time</option>
            </select>
            <br>
        </div>

        <div class="form-group">
            <label for="">College:</label>
            <select name="inputCollege" class="form-control">
                <option selected disabled="true">-----Select College-----</option>
                <option>College of Engineering and Technology</option>
                <option>PLM Business School</option>
            </select>
            <br>
        </div>

        <div class="form-group">
            <label for="">Department:</label>
            <select name="inputDepartment" class="form-control">
                <option selected disabled="true">-----Select Department-----</option>
                <option>Computer Science</option>
                <option>Computer Engineering</option>
                <option>Information Technology</option>
            </select>
            <br>
        </div>

        <div class="form-group">
            <label for="">Expertise/Subject:</label>
            <hr>
            <input type="checkbox" value="Software Engineering" class="chkvalues"/>Software Engineering
            <input type="checkbox" value="Programming" class="chkvalues"/>Programming
            <input type="checkbox" value="Human Computer Interaction" class="chkvalues"/>Human Computer Interaction
            <input type="checkbox" value="Computer Systems and Hardware" class="chkvalues"/>Computer Systems and Hardware
            <input type="checkbox" value="Discrete Structures" class="chkvalues"/>Discrete Structures
            <input type="hidden" name="inputExpertiseSubject" id="txtvalues"/>
            <br>
        </div>

        <div class="form-group">
            <label for="">Day Availability:</label>
            <input type="text" name="inputDayAvailability" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <label for="">Time Preference:</label>
            <input type="text" name="inputTimePreference" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <label for="">Units/Load:</label>
            <input type="text" name="inputUnitsLoad" class="form-control">
            <br>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>

    </form>

</div>

{% endblock content %}